.host-nav {
  display: flex;
}

.host-layout-link {
  text-decoration: none;
  color: #4d4d4d;
  font-weight: 500;
  padding: 5px 20px;
}

.host-layout-link:hover {
  color: #161616;
  text-decoration: underline;
  font-weight: 600;
}

.selected {
  color: #161616;
  text-decoration: underline;
  font-weight: 600;
}
