.end-page {
  margin: 2em;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.return-to-home-btn {
  color: white;
  background-color: #151716;
  text-decoration: none;
  padding: 1em;
  margin-top: 10px;
  border-radius: 8px;
}
