.van-img {
  border-radius: 5px;
  max-width: 100%;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}

.van-name {
  color: #161616;
  font-size: 1.25rem;
}

.tag {
  background: #e17654;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 5px;
  text-align: center;
  padding: 0.35em 0.75em;
  color: #ffead0;
  display: inline-block;
  margin-top: 0.5em;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}

.van-container {
  max-width: 350px;
}

.van-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 12px;
}

.rugged {
  background-color: #115e59;
}

.luxury {
  background: #161616;
}

.van-list-container {
  padding: 30px;
  background-color: #fff7ed;
}

.vans-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 35px;
  justify-items: center;
  margin-top: 1em;
}

.van-link {
  text-decoration: none;
  color: inherit;
}
